<div class="box">
	<div>
		<div class="title">
			<h2><%= t('applicant.title') %></h2>
		</div>

		<% semantic_form_for [@job, @applicant], :html => { :multipart => true } do |f| %>
			<%#= f.error_messages %>
			<% f.inputs :name => t('applicant.fieldset') do %>
				<li class="text">
					<label>Do:</label>
					<%= link_to @job.company_name, @job.website, :target => "_blank" %>
				</li>
				<%= f.input :email %>
				<%= f.input :body %>
				<%= f.input :cv, :required => false %>
				<li class="string required">
					<%= f.label :captcha, t('formtastic.labels.job.captcha') %>
					<%= f.captcha_challenge %>
					<%= f.captcha_field %>
					<%= inline_errors @applicant, :captcha_solution %>

				</li>
			<% end %>
		  <div class="buttons">
		  	<div class="button">
		  		<%= f.submit "Wyślij" %>
		  	</div>
				 albo <%= link_to "anuluj", @job %>
		  </div>
		<% end %>
	</div>
</div>


