<%= hidden_field_tag 'token', params[:token] unless params[:token].nil? %>
<% form.inputs :name => 'Szczegóły oferty pracy' do %>
	<%= form.input :title %>
	<%= form.input :category_id, :as => :select, :collection => Category.all.map { |c| [c.name, c.id] } %>
	<li class="select">
		<%= form.label :localization_id, 'Lokalizacja*' %>
		<%= form.select :localization_id, Localization.all(:order => 'name').map { |localization| [localization.name, localization.id] } %> albo 
		<%= form.text_field :localization_name %>
		<p class="inline-hints">np. 'Warszawa', 'Kraków, UK'</p>
		<%= inline_errors @job, :localization_name %>
	</li>
	<%= form.input :type_id, :as => :radio, :collection => collection_from_types(JOB_TYPES) %>
	<%= form.input :remote_job, :required => false %>
	<%= form.input :availability_time, :as => :numeric, :hint => "ile dni oferta ma być ważna(od 1 do 60 dni)" %>
	<%= form.input :language, :collection => Language.all(:order => 'name').map { |l| [l.name, l.id] }, :include_blank => true, :required => false %>
	<li class="select">
		<%= form.label :framework_id, 'Framework' %>
		<%= form.select :framework_id, Framework.all(:order => 'name').map { |frame| [frame.name, frame.id] }, :include_blank => true %> albo 
		<%= form.text_field :framework_name %>
		<p class="inline-hints">główny framework którego znajomość jest wymagana, podaj pełną nazwę</p>
		<%= inline_errors @job, :framework_name %>
	</li>
	<li class="numeric prices">
		<label>Widełki zarobkowe:</label>
		<%= form.text_field :price_from %> do <%= form.text_field :price_to %> PLN na miesiąc, netto
		<%= inline_errors @job, :price_from %>
		<%= inline_errors @job, :price_to %>
	</li>
	<li>
		<%= form.label :description, 'Opis*' %>
		<%= form.text_area :description %>
		<%= inline_errors @job, :description %>
	</li>
<% end %>

<% form.inputs :name => "Aplikuj online" do %>
	<%= form.input :apply_online, :required => false, :hint => "uaktywnia formularz umożliwiający przesyłanie aplikacji online w ofercie" %>
	<%= form.input :email_title, :required => false, :hint => "np. Młodszy programista, Ruby Developer/18/12/71 itp" %>
<% end %>

<% form.inputs :name => 'Firma zatrudniająca lub osoba zlecająca' do %>
	<%= form.input :email, :hint => "Pod wskazany adres zostaną przesłane linki do edycji oferty, nie będzie on widoczny publicznie(zamiast niego będzie dostępny formularz kontaktowy)." %>
	<%= form.input :company_name %>
	<%= form.input :website, :hint => "zaczynający się od http://", :required => false %>
	<%= form.input :nip, :required => false %>
	<%= form.input :regon, :required => false %>
	<%= form.input :krs, :required => false %>
<% end %>

<% if @job.new_record? %>
	<% form.inputs :name => "Czy jesteś człowiekiem" do %>
	<li class="string required">
		<%= form.label :captcha, 'Kod z obrazka*' %>
		<%= form.captcha_challenge %>
		<%= form.captcha_field %>
		<%= inline_errors @job, :captcha_solution %>

	</li>
	<% end %>
<% end %>