<% if jobs.nil? || jobs.empty? %>
	<p class="info"><%= t('jobs.empty') %></p>
<% else %>
	<ul class="list">
	<% jobs.each do |job| %>
	 <li class="<%= cycle('normal', 'alt') %>">
		<span class="rank"><%= format_rank(job.rank) %></span>
		<%= job_label(job) %>
		  <%= link_to job.title, seo_job_path(job), :class => job.highlighted? ? 'ranked' : nil %><%= t('support.array.for_word_connector') %><%= job_company(job) %> / <%= link_to job.localization.name, localization_path(job.localization) %>
		<abbr class="date" title="<%= job.created_at.xmlschema %>">
		<%= distance_of_time_in_words_to_now job.created_at %> <%= t('datetime.distance_in_words.ago') %>
		</abbr>
	 </li>
	<% end %>
	</ul>
	<%= will_paginate jobs if jobs.respond_to?(:total_pages) %>
<% end %>