<div class="box">
	<div>
		<div class="title"><h3><%= t('layout.sidebar.type') %></h3></div>
		<ul class="list">
			<% Job.find_grouped_by_type.each do | type_id, jobs_count | %>
			<li class="<%= cycle('normal', 'alt') %>">
				<span class="badge"><%= jobs_count %></span>
				<%= link_to t("jobs.type.#{JOB_TYPES[type_id]}"), job_type_path(JOB_TYPES[type_id]) , :class => "etykieta #{JOB_TYPES[type_id]}"%>
			</li>
			<% end %>
		</ul>
		<div class="clear"></div>
	</div>
	<div>
		<div class="title">
			<h3><%= t('layout.sidebar.localization') %></h3>
		</div>
		<ul class="list">
			<% for place in Localization.find_job_localizations %>
			<li class="<%= cycle('normal', 'alt') %>">
				<span class="badge"><%= place.jobs_count %></span>
				<%= link_to place.name, localization_path(place.permalink) %>
			</li>
			<% end %>
		</ul>
	</div>

	<div>
		<div class="title">
			<h3><%= t('layout.sidebar.language') %></h3>
		</div>
		<ul class="list">
			<% for language in Language.find_job_languages %>
			<li class="<%= cycle('normal', 'alt') %>">
				<span class="badge"><%= language.jobs_count %></span>
				<%= link_to language.name, language_path(language) %>
			</li>
			<% end %>
		</ul>
	</div>

	<div>
		<div class="title">
			<h3><%= t('layout.sidebar.frameworks') %></h3>
		</div>
		<ul class="list">
			<% for framework in Framework.find_job_frameworks %>
			<li class="<%= cycle('normal', 'alt') %>">
				<span class="badge"><%= framework.jobs_count %></span>
				<%= link_to framework.name, framework_path(framework.permalink) %>
			</li>
			<% end %>
		</ul>
	</div>
</div>

