<div class="box">
	<div>
		<div class="title">
			<h3>lokalizacje</h3>
		</div>
		<ul class="list">
			<% for place in Localization.find_job_localizations %>
			<li class="<%= cycle('normal', 'alt') %>">
				<span class="badge"><%= place.jobs_count %></span>
				<%= link_to place.name, localization_path(place.permalink) %>
			</li>
			<% end %>
		</ul>
	</div>

	<div>
		<div class="title">
			<h3>frameworki</h3>
		</div>
		<ul class="list">
			<% for framework in Framework.find_job_frameworks %>
			<li class="<%= cycle('normal', 'alt') %>">
				<span class="badge"><%= framework.jobs_count %></span>
				<%= link_to framework.name, framework_path(framework.permalink) %>
			</li>
			<% end %>
		</ul>
	</div>
</div>

