<% content_for :sidebar do %>
	<%= render :partial => "/jobs/sidebar" %>
<% end %>
<div class="box">
	<div>
		<div class="title">
			<h2>
				<%= link_to image_tag('feed.png'), jobs_path(stripped_params(:format => :rss, :order => "najpopularniejsze")), :title => t('home.popular'), :class => "feed" %>
				<span><%= t('home.popular') %></span> <%= t 'home.jobs' %>
			</h2>
		</div>

		<%= render :partial => "jobs", :object => @top_jobs %>
	</div>
	
	<div>
		<%= render :partial => "/shared/ads" %>
	</div>
	
	<div>
		<div class="title">
			<h2>
				<%= link_to image_tag('feed.png'), jobs_url(stripped_params(:format => :rss)), :title => t('home.latest'), :class => "feed" %>
				<span><%= t 'home.latest' %></span> <%= t 'home.jobs' %>
			</h2>
		</div>

		<%= render :partial => "jobs", :object => @recent_jobs %>
	</div>
	
	<%= link_to t('home.more_jobs'), jobs_path, :class => "more" %>
</div>