<% title @job.new_record? ? "Nowa oferta" : ["Edycja oferty", @job.title] %>
<div class="box">
	<div>
		<div class="title">
			<h2><%= @job.new_record? ? "Nowa oferta" : "Edycja oferty" %></h2>
		</div>
		<% semantic_form_for(@job) do |f| %>
			<%= render :partial => "form", :object => f %>
			<div class="buttons">
				<div class="button">
					<%= f.submit @job.new_record? ? "Zgadzam się z regulaminem i chcę dodać ofertę" : "Zapisz zmiany" %>
				</div>
				<% unless @job.new_record? %>
				, <%= link_to "usuń", @job, :method => :delete, :confirm => "Czy na pewno chcesz usunąć ofertę?" %>
				<% end %>
				 albo <%= link_to 'anuluj', jobs_path %>
			</div>
		<% end %>
	</div>
</div>