<% content_for :sidebar do %>
	<%= render :partial => "/jobs/sidebar" %>
<% end %>

<% unless (@jobs.nil? || @jobs.empty?) %>
	<div class="box">
		<div>
			<div class="title">
				<h2>
					<%= link_to image_tag('feed.png'), search_jobs_url(stripped_params(:format => :rss)), :title => "Subskrybuj wyszukiwanie", :class => "feed" %>
					Wyniki dla <span>wyszukiwania</span>
				</h2>
			</div>
			<%= render :partial => "jobs", :object => @jobs %>
		</div>
	</div>
<% end %>

<div class="box">
	<div>
		<div class="title">
			<h2><span>Szukaj</span> oferty</h2>
		</div>
		<% semantic_form_for @search, :url => search_jobs_path, :html => { :method => :post } do |f| %>
			<% f.inputs :name => "Wyszukiwarka" do %>
				<%= f.input :has_text, :required => false, :label => "Zawierający tekst" %>
				<%#= f.input :remote_job_not_null, :required => false, :as => :boolean, :label => "Praca zdalna" %>
				<%= f.input :type_id_equals, :required => false, :as => :check_boxes, :collection => collection_from_types(JOB_LABELS), :label => "Typ" %>
				<%= f.input :localization_id_equals, :required => false, :as => :check_boxes, :collection => Localization.all.map { |l| [l.name, l.id] }, :wrapper_html => { :class => "columns" }, :label => "Lokalizacja" %>
				<%= f.input :framework_id_equals, :required => false, :as => :check_boxes, :collection => Framework.all.map { |frame| [frame.name, frame.id] }, :wrapper_html => { :class => "columns" }, :label => "Używane frameworki" %>
				<li class="numeric prices">
					<label>Widełki zarobkowe:</label>
					<%= f.text_field :price_from_greater_than_or_equal_to %> do <%= f.text_field :price_to_less_than_or_equal_to %> PLN
				</li>

			<% end %>

			<div class="buttons">
				<div class="button"><%= f.submit "Szukaj!" %></div>
			</div>
		<% end %>
	</div>
</div>
