<p>
  <b>Type:</b>
  <%=h @job.type_id %>
</p>

<p>
  <b>Price from:</b>
  <%=h @job.price_from %>
</p>

<p>
  <b>Price to:</b>
  <%=h @job.price_to %>
</p>

<p>
  <b>Remote job:</b>
  <%=h @job.remote_job %>
</p>

<p>
  <b>Title:</b>
  <%=h @job.title %>
</p>

<p>
  <b>Permalink:</b>
  <%=h @job.permalink %>
</p>

<p>
  <b>Description:</b>
  <%=h @job.description %>
</p>

<p>
  <b>End at:</b>
  <%=h @job.end_at %>
</p>

<p>
  <b>Company name:</b>
  <%=h @job.company_name %>
</p>

<p>
  <b>Website:</b>
  <%=h @job.website %>
</p>

<p>
  <b>Localization:</b>
  <%=h @job.localization_id %>
</p>

<p>
  <b>Nip:</b>
  <%=h @job.NIP %>
</p>

<p>
  <b>Regon:</b>
  <%=h @job.REGON %>
</p>

<p>
  <b>Krs:</b>
  <%=h @job.KRS %>
</p>

<p>
  <b>Email:</b>
  <%=h @job.email %>
</p>

<p>
  <b>Rank:</b>
  <%=h @job.rank %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>