<% title [@job.category.name, @job.localization.name, @job.company_name, @job.title] %>
<div class="box">
	<div>
		<div class="title">
			<h2>
				<%= @job.title %>
			</h2>
		</div>

		<dl>
			<dt>Typ</dt>
			<dd><%= job_label(@job) %></dd>
			<dt>Kategoria</dt>
			<dd><%= link_to @job.category.name, category_path(@job.category) %></dd>
			<dt>Ocena</dt>
			<dd><%= format_rank(@job.rank) %></dd>
			<dt>Pracodawca</dt>
			<dd><%= link_to @job.company_name, @job.website, :target => "_blank" %></dd>
			<dt>Lokalizacja</dt>
			<dd><%= link_to @job.localization.name, localization_path(@job.localization) %></dd>
			<% unless @job.framework.nil? %>
			<dt>Framework</dt>
			<dd><%= link_to @job.framework.name, framework_path(@job.framework) %></dd>
			<% end %>
			<% if @job.widelki_zarobkowe? %>
			<dt>Widełko zarobkowe</dt>
			<dd>
				<%= "od #{number_to_currency(@job.price_from)}" unless @job.price_from.nil? %> 
				<%= "do #{number_to_currency(@job.price_to)}" unless @job.price_to.nil? %> na miesiąc, netto
			</dd>
			<% end %>
			
			<% unless @job.apply_online %>
			<dt>Kontakt</dt>
			<dd><%= link_to "Formularz kontaktowy", "#" %></dd>
			<% end %>
			<% unless (@job.regon.nil? || @job.regon.empty?) %>
			<dt>REGON</dt>
			<dd><%= @job.regon %>&nbsp;</dd>
			<% end %>
			<% unless (@job.nip.nil? || @job.nip.empty?) %>
			<dt>NIP</dt>
			<dd><%= @job.nip %>&nbsp;</dd>
			<% end %>
			<% unless (@job.krs.nil? || @job.krs.empty?) %>
			<dt>KRS</dt>
			<dd><%= link_to @job.krs, "http://krs.ms.gov.pl/Podmiot.aspx?nrkrs=#{@job.krs}", :target => "_blank" %>&nbsp;</dd>
			<% end %>
			
			<dt>Data rozpoczęcia</dt>
			<dd>
				<%= l @job.created_at, :format => :long %>
				<br />
				<abbr title="<%= @job.created_at.xmlschema %>"><%= distance_of_time_in_words_to_now @job.created_at %> temu</abbr>
			</dd>
			<dt>Data zakończenia</dt>
			<dd>
				<%= l @job.end_at, :format => :long %>
				<br />
				za <abbr title="<%= @job.end_at.xmlschema %>"><%= distance_of_time_in_words_to_now(@job.end_at) %></abbr>
			</dd>
			<dt>Wyświetlona</dt>
			<dd><%= @job.visits_count %> razy</dd>
		</dl>

		<div class="clear"></div>
	</div>
	
	<div>
		<div class="title mini">
			<h3>Opis oferty</h3>
		</div>
		<%= RedCloth.new(@job.description).to_html %>
		<p>
		<% if permitted_to? :edit, @job %>
			<%= link_to 'Edytuj', edit_job_path(@job) %> |
			<%= link_to 'Wstecz', jobs_path %>
		<% end %>
		</p>
	</div>
	<%= link_to 'Aplikuj online!', new_job_applicant_path(@job), :class => "more" if @job.apply_online %>
</div>
