<div class="footer">
	<span class="right">
		<%= link_to t('layout.menu.main'), root_path %> | 
		<%= link_to t('layout.menu.search'), search_jobs_path %> | 
		<%= link_to t('layout.menu.about'), "/strona/informacje/" %> | 
		<%= link_to t('layout.menu.terms'), "/strona/regulamin/" %> | 
		<%= link_to t('layout.menu.follow'), "/strona/obserwuj-nas" %> | 
		<%= link_to t('layout.menu.contact'), contact_path %> | 
		<%= link_to "GitHub", "http://github.com/macbury/webpraca" %>
	</span>
	<strong><%= link_to WebSiteConfig['website']['name'], root_path %></strong> <sup>BETA</sup> &copy; <%= Date.current.year %>. 
</div>