<div class="footer">
	<span class="right">
		<%= link_to "Strona główna", root_path %> | 
		<%= link_to "Oferty", jobs_path %> | 
		<%= link_to "Szukaj", search_jobs_path %> | 
		<%= link_to "Oferty", jobs_path %> | 
		<%= link_to "O nas", "/strona/o-nas/" %> | 
		<%= link_to "Kontakt", jobs_path %>
	</span>
	<strong><%= link_to "webpraca.net", root_path %></strong> <sup>BETA</sup> &copy; 2010. 
</div>