<div class="box">
	<div>
		<div class="title">
			<h2>Oferty</h2>
		</div>
		
		<table>
			<thead>
				<tr>
			    <th>Nazwa</th>
					<th width="130px" class="text_center">Dodano</th>
			    <th width="100px" class="text_center">Edycja</th>
			  </tr>
			</thead>
		
			<% if @jobs.nil? || @jobs.empty? %>
				<tr>
					<td colspan="2" class="info">
						Brak ofert!
					</td>
				</tr>
			<% else %>
				<% @jobs.each do |job| %>
				  <tr class="<%= cycle('normal', 'alt') %>">
				    <td><%= link_to job.title, seo_job_path(job) %></td>
						<td class="text_center">
							<%= l job.created_at, :format => :long %>
						</td>
				    <td class="text_center">
							<% unless job.published %>
							<%= link_to "Publikuj", publish_job_path(job, :token => job.token) %>
							<% end %>
							<%= link_to 'Edytuj', edit_admin_job_path(job) %> | 
							<%= link_to 'Usuń', admin_job_path(job), :confirm => 'Czy na pewno chcesz usunąć ofertę?', :method => :delete %>
						</td>
				  </tr>
				<% end %>
			<% end %>
		</table>
		<%= will_paginate @jobs %>
	</div>
</div>