<div class="box">
	<div>
		<div class="title">
			<h2><%= title "Konfiguracja" %></h2>
		</div>
		
		<% form_tag admin_configs_path, :class => "formtastic" do %>
			<% WebSiteConfig.each do |group, keys| %>
				<fieldset class="inputs">
					<legend><%= t("activerecord.attributes.websiteconfig.groups.#{group}") %></legend>
					<ol>
						<% keys.each do |key, value| %>
							<li class="string">
								<label><%= t("activerecord.attributes.websiteconfig.#{group}.#{key}") %></label>
								<%= text_field_tag "WebSiteConfig[#{group}][#{key}]", value %>
							</li>
						<% end %>
					</ol>
				</fieldset>
				
			<% end %>
			<div class="buttons">
				<div class="button">
					<%= submit_tag "Zapisz" %>
				</div>
			</div>
		<% end %>
		
	</div>
</div>