<div class="box">
	<div>
		<div class="title">
			<h2><%= title @contact_handler.job.nil? ? t('contact.title') : "#{t('contact.title')} #{@contact_handler.job.company_name}" %></h2>
		</div>
		<%= content_tag :p, t('contact.description') if @contact_handler.job.nil? %>
		<% semantic_form_for(@contact_handler, :url => contact_url) do |f| %>
		<% f.inputs do %>
			<% unless @contact_handler.job.nil? %>
			<li class="text">
				<label><%= t('contact.recipient') %></label>
				<%= link_to @contact_handler.job.company_name, @contact_handler.job.website, :target => "_blank" %>
			</li>
			<% end %>
			<%= f.hidden_field :job_id %>
			<%= f.input :email %>
			<%= f.input :subject, :label => t('contact.subject') %>
			<%= f.input :body, :as => :text, :label => t('contact.body') %>
		<% end %>
		<% f.inputs :name => t('jobs.form.fieldset.human_test') do %>
		<li class="string required captcha">
			<%= f.label :captcha, t('formtastic.labels.job.captcha') %>
			<%= f.captcha_challenge %>
			<%= f.captcha_field %>
			<%= inline_errors @contact_handler, :captcha_solution %>

		</li>
		<% end %>
		<div class="buttons">
			<div class="button">
				<%= f.submit t('contact.submit') %>
			</div>
		</div>
		<% end %>
	</div>
</div>


