<p>
  <b>Name:</b>
  <%=h @category.name %>
</p>

<p>
  <b>Permalink:</b>
  <%=h @category.permalink %>
</p>

<p>
  <b>Position:</b>
  <%=h @category.position %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>