<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
   
<html xmlns="http://www.w3.org/1999/xhtml" lang="pl">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<%= display_meta_tags :site => WebSiteConfig['website']['name'] %>
	<meta name="viewport" content="width=900" />
	<%= rss_link("RSS", jobs_url(:format => :rss)) %>
	<%= rss_link("ATOM", jobs_url(:format => :atom)) %>
	
	<%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
	<%= javascript_include_merged :base %>
	<%= stylesheet_link_merged :base %>
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<h1 id="logo"><%= link_to WebSiteConfig['website']['name'], root_path %></h1>
			<ul class="categories">
				<li class="right">
					<%= link_to "Najpopularniejsze", seo_jobs_path(:order => 'najpopularniejsze',  :category => params[:category]), :class => (!@order.nil? && @order == :rank) ? "selected" : "normal"  %>
				</li>
				<li class="right">
					<%= link_to "Najnowsze", seo_jobs_path(:order => 'najnowsze',  :category => params[:category] ), :class => (!@order.nil? && @order == :created_at) ? "selected" : "normal"  %>
				</li>
				<% for category in Category.all(:order => "position") %>
					<li>
						<%= link_to category.name, seo_jobs_path(:order => params[:order], :category => category.permalink), :class => (!@category.nil? && @category.id == category.id) ? "selected" : "normal" %>
					</li>
				<% end %>
			</ul>
			<ul class="menu">
				<li><%= link_to "Strona główna", root_path %></li>
				<li><%= link_to "Szukaj", search_jobs_path %></li>
				<li><%= link_to "Informacje", "/strona/informacje/" %></li>
				<li><%= link_to "Regulamin", "/strona/regulamin/" %></li>
				<li><%= link_to "Obserwuj nas", "/strona/obserwuj-nas" %></li>
				<li><%= link_to "Kontakt", contact_path %></li>
			</ul>
		</div>
		
		<%- flash.each do |name, msg| -%>
			<div class="<%= "flash #{name}" %>">
				<a href="#" class="dismiss">X</a>
				<p><%= msg %></p>
			</div>
		<%- end -%>
		
		<div class="sidebar">
			<div class="box">
				<%= link_to "Dodaj ofertę za DARMO!", new_job_path, :id => "add_job", :class => "more" %>
			</div>
			<%= yield :sidebar %>
			<% if @ads_pos == :right %>
			<div class="box">
				<div>
					<%= render :partial => "/shared/ads" %>
				</div>
			</div>
			<% end %>
		</div>
		<div class="content">
			<%= yield %>
			
			<% if @ads_pos == :bottom %>
			<div class="box">
				<div>
					<%= render :partial => "/shared/ads" %>
				</div>
			</div>
			<% end %>
		</div>
		
		<div class="clear"></div>
	</div>
	<%= render :partial => "/shared/footer" %>
	<%= WebSiteConfig['js']['google_analytics'] %>
</body>
</html>